* {
	margin: 0;
	padding: 0;
	user-select: none;
	-webkit-user-select: none;
}

body {
	background-color: #ccc;
}

#screen {
	width: 1024px;
	height: 600px;
	display: block;
	overflow: hidden;
	position: relative;
	margin: 20px auto 0;
	box-shadow: 0 0 10px 1px #888;
}

.sprite-bt,
.sprite-modal {
	background-repeat: no-repeat;
}

.sprite-bt {
	background-image: url(img/sprite-buttons.png);
}

.sprite-modal {
	background-image: url(img/sprite-modal.png);	
}

/*--------------- Screen Background ---------------*/

.screen-elements {
	top: 0;
	left: 0;
	width: 1024px;
	height: 600px;
	position: absolute;
}

.load-arrow {
	left: 50%;
	top: 230px;
	width: 95px;
	height: 95px;
	display: block;
	position: absolute;
	margin-left: -47px;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	animation: loadRotation linear 2s infinite;
	-webkit-animation: loadRotation linear 2s infinite;
}

.controls {
	top: 20px;
	left: 905px;
	width: 105px;
	z-index: 1;
	position: absolute;
}

.controls div {
	margin-right: 5px;
	display: inline-block;
}

.screen-elements .light {
	width: 1429px;
	height: 1429px;
	position: absolute;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	animation: lightRotation linear 20s infinite;
	-webkit-animation: lightRotation linear 20s infinite;
	background-image: url(img/light.png);
}

/*--------------- Splash Screen ---------------*/

.splash-parrot {
	bottom: 0;
	left: 50%;
	position: absolute;
	margin-left: -411px;
}

.splash .light {
	top: -190px;
	left: -210px;
}

.splash .buttons {
	top: 425px;
	left: 419px;
	width: 190px;
	height: 150px;
	position: absolute;
}

.splash .btn-credits {
	top: 520px;
	left: 840px;
	position: absolute;
}

/*--------------- Play Screen ---------------*/

.playing {
	background-position: 0 -610px;
}

.playing.win {
	background-position: 0 -1220px;
}

.playing .light {
	top: -380px;
	left: -200px;
	z-index: 0;
	visibility: hidden;
}

.playing.win .light {
	visibility: visible;
}

.animal {
	left: 50%;
	top: 20px;
	z-index: 1;
	position: absolute;
	margin-left: -250px;
}

.btn-pause {
	margin: 15px;
	z-index: 1;
	position: relative;
}

.play-parrot {
	left: 10px;
	bottom: 0;
	z-index: 1;
	position: absolute;
}

.textbox {
	z-index: 1;
	top: 460px;
	left: 190px;
	position: absolute;
}

.btn-speech {
	top: 465px;
	left: 865px;
	z-index: 1;
	position: absolute;
}

/*--------------- Help Modal ---------------*/

.help-screen {
	width: 1024px;
	height: 600px;
	z-index: 2;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}

.help-screen .dialog {
	width: 623px;
	height: 480px;
	margin: 10px auto;
	background-position: 0 -500px;
}

.help-screen .btn-back {
	margin: 0 auto;
}

.help-screen .help-parrot {
	float: right;
	margin: -180px 130px 0 0;
}

/*--------------- Credit Modal ---------------*/

.credit-screen {
	width: 1024px;
	height: 600px;
	z-index: 2;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}

.credit-screen .dialog {
	width: 623px;
	height: 10px;
	margin: 40px auto 0;
	padding-top: 470px;
	background-position: -650px 0;
}

.credit-screen .btn-back {
	margin: 0 auto;
}

/*--------------- Pause Screen ---------------*/

.pause-screen {
	top: 0;
	left: 0;
	width: 1024px;
	height: 600px;
	z-index: 2;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}

.pause-screen .dialog {
	width: 348px;
	height: 193px;
	margin: 80px auto 0;
	padding-top: 130px;
	background-position: -650px -650px;
}

.pause-screen .dialog div {
	width: 150px;
	height: 52px;
	cursor: pointer;
	margin: 5px auto;
}

/*--------------- Level Screen ---------------*/

.level-screen {
	top: 0;
	left: 0;
	width: 1024px;
	height: 600px;
	z-index: 2;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
}

.level-screen .dialog {
	width: 623px;
	height: 359px;
	margin: 60px auto 0;
	padding-top: 120px;
	background-position: 0 0;
}

.level-screen .btn-level1,
.level-screen .btn-level2,
.level-screen .btn-level3 {
	width: 185px;
	height: 90px;
	cursor: pointer;
	margin: 5px auto;
}

.level-screen .btn-back {
	margin: 230px auto 0;
}

/*--------------- Buttons ---------------*/

.btn-play {
	width: 190px;
	height: 72px;
	cursor: pointer;
	background-position: -201px 0;
}

.btn-play:hover {
	background-position: -201px -70px;
}

.btn-play:active {
	background-position: -200px -142px;
}

.btn-help {
	width: 190px;
	height: 72px;
	cursor: pointer;
	background-position: -400px 0;
}

.btn-help:hover {
	background-position: -400px -71px;
}

.btn-help:active {
	background-position: -395px -140px;
}

.btn-credits {
	width: 150px;
	height: 58px;
	cursor: pointer;
	background-position: -5px -210px;
}

.btn-credits:hover {
	background-position: -5px -270px;
}

.btn-credits:active {
	background-position: -5px -331px;
}

.btn-sound {
	width: 44px;
	height: 44px;
	cursor: pointer;
	background-position: -568px -298px;
}

.btn-sound:hover {
	background-position: -569px -249px;
}

.btn-sound.off {
	background-position: -617px -297px;
}

.btn-sound.off:hover {
	background-position: -617px -249px;
}

.btn-volume {
	width: 44px;
	height: 44px;
	cursor: pointer;
	background-position: -472px -249px;
}

.btn-volume:hover {
	background-position: -473px -297px;
}

.btn-volume.off {
	background-position: -521px -249px;
}

.btn-volume.off:hover {
	background-position: -521px -297px;
}

.btn-back {
	width: 190px;
	height: 72px;
	cursor: pointer;
	background-position: -4px 0;
}

.btn-back:hover {
	background-position: -4px -72px;
}

.btn-back:active {
	background-position: -3px -144px;
}

.btn-pause {
	width: 76px;
	height: 76px;
	cursor: pointer;
	background-position: -602px -4px;
}

.btn-pause:hover {
	background-position: -602px -80px;
}

.btn-pause:active {
	background-position: -601px -157px;
}

.btn-speech {
	width: 120px;
	height: 120px;
	cursor: pointer;
	background-position: -595px -349px;
}

.btn-speech.off {
	background-position: -464px -349px;
}

.btn-back-to-game {
	background-position: -6px -395px;
}

.btn-back-to-game:hover {
	background-position: -158px -395px;
}

.btn-back-to-game:active {
	background-position: -309px -395px;
}

.btn-select-level {
	background-position: -160px -217px;
}

.btn-select-level:hover {
	background-position: -160px -276px;
}

.btn-select-level:active {
	background-position: -160px -336px;
}

.btn-menu {
	background-position: -314px -217px;
}

.btn-menu:hover {
	background-position: -314px -277px;
}

.btn-menu:active {
	background-position: -314px -338px;
}


.btn-level1 {
	background-position: 1px -452px;
}

.btn-level1:hover {
	background-position: -182px -452px;
}

.btn-level1:active {
	background-position: -182px -452px;
}

/*--------------- Keyframes ---------------*/

@keyframes loadRotation {
	from   {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-webkit-keyframes loadRotation {
	from   {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}


@keyframes lightRotation {
	from   {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes lightRotation {
	from   {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

